# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/


# Logs
*.log

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotCover
*.dotCover

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.cache
*.pdb
*.tmp

# Optional: ignore launchSettings.json if it's machine-specific
# Properties/launchSettings.json

node_modules/